$color-dark: #0d0d0d;      // negro profundo
$color-primary: #1c1c1c;   // gris muy oscuro
$color-secondary: #2b2b2b; // gris oscuro
$color-accent: #f5af19;    // amarillo dorado
$color-light: #eaeaea;     // texto claro

$font-main: 'Segoe UI', 'Archivo Black', sans-serif;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;